{% extends "base.html" %}

{% block title %}
Home | ResumeIQ AI
{% endblock %}

{% block content %}

<section class="hero">

    <!-- Background Glow -->
    <div class="hero-glow glow1"></div>
    <div class="hero-glow glow2"></div>

    <div class="container">

        <div class="row align-items-center">

            <!-- Left Side -->

            <div class="col-lg-6 text-center text-lg-start">

                <span class="badge bg-primary mb-3">
                    AI Powered Career Platform
                </span>

                <h1>

                    Transform Your Resume.

                    <br>

                    Accelerate Your Career.

                </h1>

                <p>

                    ResumeIQ AI helps students analyze resumes,
                    improve ATS scores, prepare for interviews,
                    and receive personalized career guidance.

                </p>

                <div class="hero-buttons">

                    <button class="btn btn-primary btn-lg">

                        <i class="bi bi-upload"></i>

                        Upload Resume

                    </button>

                    <button class="btn btn-outline-light btn-lg">

                        Explore Features

                    </button>

                </div>

            </div>

            <!-- Right Side -->

            <div class="col-lg-6 text-center">

                <div class="hero-placeholder">

    🤖

</div>

            </div>

        </div>

    </div>

</section>

{% endblock %}