{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="container py-5" style="max-width:500px;">

<h2 class="text-center mb-4">
Create Account
</h2>

{% if error %}
<div class="alert alert-danger">
{{ error }}
</div>
{% endif %}

<form method="POST">

<div class="mb-3">

<input
type="text"
name="fullname"
class="form-control"
placeholder="Full Name"
required>

</div>

<div class="mb-3">

<input
type="email"
name="email"
class="form-control"
placeholder="Email"
required>

</div>

<div class="mb-3">

<input
type="password"
name="password"
class="form-control"
placeholder="Password"
required>

</div>

<button
class="btn btn-primary w-100">

Register

</button>

</form>

<div class="text-center mt-3">

<a href="/login">

Already have an account?

</a>

</div>

</div>

{% endblock %}